    
    <div class="col-md-6 comments-property" id="blog-comment-<%= blog.id %>">
      <% blog.comments.each do |a|%>
      <div class="container border border-white" >
        <div class="card-header"><%= image_tag gravatar_url("you@youremail.com", 30), alt: "", :style => "margin-right: 5px;" %><%= User.find(a.user_id).name %></div>
        <div class="card-body" id="comment-<%= a.id%>"><%= a.text %></div>
        <p style="margin-left: 40px;" id="comment-links-<%=a.id%>">
          <% if a.user_id == current_user.id%>
          <%= link_to "Edit", edit_comment_path(a), class: "btn btn-info btn-sm" , remote: true %>
          <% end %>
          <% if a.user_id == current_user.id%>
          <%= link_to "Delete", a, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm", :remote => true, :id => 'delete_comment_#{a.id}' %>
          <%end%>
        </p>
        </div>

        <% end %>
      </div>