<% blog = @created_blog %>
<% if (current_user.name == "admin" and  blog.status == "draft" ) or (blog.status == "published" )%>
<div class="card"><br>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-7 card-header" style="font-size:3vw">
     <%= blog.title %>
   </div>
   <div class="col-md-2"></div>
 </div>

 <div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-5">
    <i class="fas fa-pen-nib 3x"></i>
    <i style="color: #8B008B;"><strong><%= User.find(blog.user_id).name %></strong></i></div>
    <div class="col-md-4"></div>
  </div>

  <div class="row ">
    <div class="col-md-3"></div>
    <div class="col-md-7 ">
     <div id="truncated-blog-body-<%= blog.id%>" style="display: block;">
      <% if blog.body.length > 250 %>
      <%= sanitize(blog.body.truncate(580, separator: '')) %>
      <p>
        <%# link_to '...Read more', '', class: "read-more-#{blog.id}"  %>
        <a href="#", id="read-more-<%= blog.id%>" onClick="readMore(event,<%= blog.id %>)" >read more</a>
      </p>
      <script>

      </script>
      <% else %>
      <%= sanitize blog.body %>
      <% end %>
    </div>
    <div id="blog-body-<%= blog.id%>" style="display: none;" ><%= sanitize(blog.body) %></div>

  </div>
  <div class="col-md-2 ">
   <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago 
 </div>
 <!-- for date of publish of each items calculation -->
</div>


<div class="row">
  <div class="col-md-3"></div>

  <div class="col-md-1 far fa-comment-alt fa-3x" id = "button-comment-<%= blog.id%> "  style="margin-left:10px; color: blue;" onClick="commentsShow(<%= blog.id %>)"></div>


  <div class="col-md-1" >
    <% if blog.user_id == current_user.id%>
    <%= link_to  edit_blog_path(blog), class: "btn btn-primary", style: "margin-left:-36px;" do %>
    <i class="far fa-edit fa-2x"></i>
    <%end%>
    <%end%>
  </div>

  <div class="col-md-1">

    <% if can? :destroy, blog %>
         <%= link_to  blog, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-primary", style: "margin-left:-65px;" do %>
        <i class="fas fa-trash-alt fa-2x"></i>
    
    <% end %>
    <%end%>

  </div>

  <div class="col-md-1">
    <% if can? :status, blog %>
    <%= link_to blog.status, toggle_status_blog_path(blog), class: "btn btn-primary", style: "margin-left:-103px" %>
    <% end %>
  </div>
  <div class="col-md-6"></div>
</div>

<div id="bind-comments-<%= blog.id%>" class="comments-area">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <% if user_signed_in? %>
      <%= render :partial => 'comments/newcomment', locals: {blog_id: blog.id} %>
      <% end %>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <% if blog.comments.exists? %>
    <div class="col-md-6 comments-property">
      <% blog.comments.each do |a|%>
      <div class="container border border-white">
        <div class="card-header"><%= image_tag gravatar_url("you@youremail.com", 30), alt: "", :style => "margin-right: 5px;" %><%= User.find(a.user_id).name %></div>
        <div class="card-body"><%= a.text %></div>
        <p style="margin-left: 40px;">
          <% if a.user_id == current_user.id%>
          <%= link_to "Edit", edit_comment_path(a), class: "btn btn-info btn-sm" %>
          <% end %>
          <% if a.user_id == current_user.id%>
          <%= link_to "Delete", a, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
          <%end%>
        </div>

        <% end %>
      </div>
      <% end %>
      <div class="col-md-3"></div>
    </div>
  </div><br>
</div>
<% end %><br>