
<%= form_with(model: blog, local: true, class: 'row') do |form| %>
 
  <% if blog.errors.any? %>
  <div class="row">
    <div class="col-md-4" style="background-color: dark"></div>
    <div class="col-md-4">
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
  <% end %>
      </ul>
    </div>
    <div class="col-md-4"></div>
  </div>

  <% end %>
 <div style="background-color: dark">
  <div class="row">
     <div class="col-md-2"></div>
     <div class="col-md-1"><%= form.label :title %></div>
     <div class="col-md-8"><%= form.text_field :title, class: "form-control", rows: 25 %></div>
     <div class="col-md-1"></div>
      
  </div>
  <hr>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-1"><%= form.label :body %></div>
    <div class="col-md-9">
      <%= form.hidden_field :body, id: :post_body, class: "form-control-lg"%>
      <trix-editor input="post_body" ></trix-editor> 
      </div>
   
  </div>
  <hr>
<!--   <input id="x" type="hidden" name="content">
  <trix-editor input="x"></trix-editor> -->
   


  <div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-1 "><%= form.submit "Post", class: "btn btn-success" %></div>
    <div class="col-md-1"></div>
  </div>
</div>

<% end %>
