  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" style="margin-left: 284px;">create new blog</h4>
          <button type="button" class="close" data-dismiss="modal" >&times;</button>
          
        </div>
        <div class="modal-body">
          <%= form_with(model: blog = Blog.new, remote: true, class: 'row') do |form| %>


          <% if blog.errors.any? %>
          <div class="row">
            <div class="col-md-4" style="background-color: dark"></div>
            <div class="col-md-4">
              <div id="error_explanation">
                <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

                <ul>
                  <% blog.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
              <div class="col-md-4"></div>
            </div>
          </div>

          <% end %>
          <div style="background-color: dark">
            <div class="row">
             <div class="col-md-2"><%# form.label :title %></div>
             <div class="col-md-11"><%= form.text_field :title, {:class=>"form-control form-control-lg", :style=>"margin-left:80px;", :placeholder=>"Enter title of your blog", id: :post_title }%>
             </div>

           </div>
           <hr>

           <div class="row">
            <div class="col-md-2"><%#= form.label :body %></div>
            <div class="col-md-10">
              <%= form.hidden_field :body, id: :post_body %>
              <trix-editor input="post_body", placeholder="enter blog body", class:"form-control-lg", style="margin-right: 3px; overflow: scroll;" ></trix-editor> 
            </div>

          </div>
          <hr>
<!--   <input id="x" type="hidden" name="content">
  <trix-editor input="x"></trix-editor> -->



  <div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-1 "><%= form.submit "Post", class: "btn btn-success" %></div>
    <div class="col-md-1"></div>
  </div>
</div>

<% end %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>





