<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-6"><h3>Edit your Blog</h3></div>
			<div class="col-md-2"></div>
		</div>
		<hr>
		<div>

			<%= render 'form', blog: @blog %>

	        <div class="row button-edit-blog button-edit-blog">
	          <div class="col-md-3"></div>
	          <div class="col-md-1">
	          	<%= link_to 'Show', @blog, class: "btn btn-dark" %>
	          </div>
	          <div class="col-md-1"><%= link_to 'Back', blogs_path, class: "btn btn-secondary" %>
	          	
	          </div>
	          <div class="col-md-7"></div>

	          </div>
	      </div>
	</div>
		
			 
</div>

