<div class="container">
  <div class="row">
   <!--  <div class="col-md-1"></div> -->
   <div class="col-md-2">
    <% if can? :create, Blog %>
    <%= link_to 'New Blog', new_blog_path, :class =>"btn btn-primary", :remote => true, "data-toggle" => "modal", "data-target" => "myModal", :id => "new-blog-link" %>
    <!--<a href="/blogs/new"  class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">New blog</a> -->
    <% end %>
    <%= render 'newModal' %>
  </div>
  <div class="col-md-10"></div>

</div>
<div class="blogs-container">
<% if user_signed_in?%>
  <%= render "formIndex" %>
<%end%>
</div>
</div>
