<div class="card" style="width: 100%;">
	<div class="card-body">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-9"><h5>Create your New Blog here...</h5></div>

		</div>
		<%= render 'form', blog: @blog %>
		
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-1"><%= link_to 'Back', blogs_path, class: "btn btn-primary" %></div>
			<div class="col-md-9"></div>

		</div>
	</div>

</div>

