<div class="container"></div>
<p id="notice"><%= notice %></p>
<div class="col-md-7 border rounded" style="background-color: white ">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<!-- <strong>Blog Title:</strong> -->
		</div>
		<div class="col-md-3">
		</div>
	</div>
	<div class="row" >
		<div class="col-md-3"></div>
		<div class="col-md-7">
			<strong style="font-size:30px"><%= @blog.title %></strong>
		</div>
		<div class="col-md-2"></div>
	</div>
	<hr>

	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-7">
			<!-- <strong>Blog Body:</strong> -->
		</div>
		<div class="col-md-2"></div>
	</div>

	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-7">
			<%= sanitize @blog.body %>
		</div>
		<div class="col-md-2"></div>
	</div>

   <div class="row button-show-blog btn-toolbar">
	<% if can? :edit, Blog %>
	<div class="col-md-3"></div>
		<div class="col-md-2 btn btn-dark">
		 <%= link_to 'Edit', edit_blog_path(@blog) %> 
		</div>
	    
		<div class="col-md-2 btn btn-dark">
			<%= link_to 'Back', blogs_path %>
		</div>
		<div class="col-md-5"></div>
	  <!-- </div> -->


	<% end %>

	
   </div>
</div> 
