 
 function status(id){
 	if(document.getElementById(`status-blog-${id}`).innerHTML === 'draft'){
 		document.getElementById(`status-blog-${id}`).innerHTML = 'published'
 	}
 	else{
 		document.getElementById(`status-blog-${id}`).innerHTML = 'draft'
 	}
 }
status(<%= @blog.id%>);
//button ma rakhda first mai status function call vayekole this toggle_status.js.erb ma call garya
// $(document).ready(function(){
//     $('.status-blog-<%=@blog.id%>').on('click', function() {
//     	debugger
//       if ( this.value == 'draft')
//       {
//         $(".status-blog-<%=@blog.id%>").innerHTML('Published');
//       }
//       else
//       {
//         $(".status-blog-<%=@blog.id%>").innerHTML('Draft');
//       }
//     });
// });


