
<%= devise_error_messages!%>
<div class="container register-account" style:align="center">


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>


  <div class="field form-group">
    <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded",placeholder: "eg:ashok@gmail.com" %>
  </div>

  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "rounded",placeholder: "Ashok Paudel" %>
  </div>

  <div class="field form-group">
    <%= f.label :password%>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password",  class: "rounded", placeholder: "enter password here" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",  class: "rounded", placeholder: " re-enter password here" %>
  </div><br>

  <div class="actions ">
    <%= f.submit "Sign up", class: "btn btn-success" %>
  </div><br><br>
<% end %>
</div>
