<div class="container"><br>
	<h6>Hey <%= @comment.user.name%>, Edit your comment:</h6>
	<%= form_for comment, remote: true do |form|%>
	<%= form.text_area :text, class: "form-control" %>
	<%# form.submit %>
	<button class="btn btn-primary-sm" style="margin-top:5px;">Update</button>

	<% end %>
</div>