<div class="container"><br>
	<%= form_with scope: :comment, url: comments_path, method: :post, remote: true do |form| %>
	  <%= form.hidden_field :blog_id, :value => blog_id %>
	  <%# to send the blog_id value to comment controller%>
	 <div class="row">
	  
      <div class="col-md-8">
	    <%# form.label :comments %>
	    <%= form.text_area :text, class: "form-control", placeholder:"write your comment here", id: "form-area-comment"%>
	  </div>

	  
      <div class="col-md-2">
	    <%# form.submit :class => "btn btn-primary-sm btn-mini" %>
	    <button class="btn btn-primary-sm">comment</button>
	    </div>
	    <div class="col-md-1"></div>
	    </div>
	  
	<% end %>
</div>