<div id="form_ajax">
<%= form_for @portfolio_items, html: { multipart: true }, remote: true do |a| %> <!--for new portfolio item bug fixe-->
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-7"><h2>create new portfolio here:</h2></div>
  <div class="col-md-1"></div>
</div>


<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-6"> <%= a.label :title %></div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-6">
    <%= a.text_field :title, class: "form-control" %>
 </div>
 <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-6"> <%= a.label :subtitle %></div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-6">
      <%= a.text_field :subtitle, class: "form-control" %>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-6">
     <%= a.label :body %>
 </div>
 <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-2">
   
  </div>
  <div class="col-md-6">
    <%= a.text_area :body, class: "form-control"  %>
  </div>
  <div class="col-md-2"></div>
</div><br>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-6"><h5> Main Technlogies used for this portfolio:</h5></div>
  <div class="col-md-2"></div>

</div>



 <!--this form is for technlogy names-->
    
   <%= a.fields_for :technlogies do |technlogy_form| %>  
<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-4">
    <div class="row">
      
        <%= technlogy_form.label :technlogy %>
    </div>
    <div class="row">
          <%= technlogy_form.text_field :name, class: "form-control input-sm" %>
         <%= technlogy_form.hidden_field :id%> 
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

    <% end %>
    <br>
 <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-6">
    <%= a.file_field :main_image %>
  </div>
  <div class="col-md-2"></div>
</div>
    <br>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-6">
        <%= a.submit "create", class: "btn btn-success", style: "margin-left: 70px;" %>
       </div>
       <div class="col-md-2"></div>
    </div>

<% end %>
</div>