<%if can? :create, Portfolio %>
<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal", remote: true >New portfolio</button>

<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="margin-left: 250px; margin-right: 150px;">
				<h4 class="modal-title">Create your new item here:</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<%= render "new"%>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<% end %>