	<div class="card-group">
		<% @portfolio_items.each  do |item| %>
		<%= render partial: 'showPortfolioModal', locals: { itemid: item.id } %>


		<div class="col-md-4" style="width: 100%; height: 100%;">   
			<div class="card bg-white">
				<div class="card-body text-center">
					<div ><%= link_to image_tag(item.main_image.url, class: "portfolio-index-image" ), portfolio_path(item.id), :remote => true,'data-toggle' => 'modal', 'data-target' => '#myModalitems', :id =>'portfolio-id-{item.id}' %>
						
						 
					</div>
					<div><%= item.title %> </div>
					<div class="row">
						<div class="col-md-7"></div>
						<%if can? :edit, Portfolio%>
						<div class="col-md-2 icon-edit"> <%= link_to '<i class="far fa-edit fa-2x"></i>'.html_safe, edit_portfolio_path(item.id) %></div>
						<% end %>

						<% if can? :delete, Portfolio %>
						<div class="col-md-2 icon-delete"><%= link_to '<i class="fas fa-trash-alt fa-2x"></i>'.html_safe, "/portfolios/#{item.id}",method: :delete, data: {confirm: "Are you sure?"} %></div>
						<% end %>

						<div class="col-md-1"><%# link_to '<i class="far fa-eye fa-2x"></i>'.html_safe, portfolio_path(item.id) %></div>
					</div>
				</div>
			</div>
		</div>

		<% end %>
	</div>