<div class="modal fade" id="myModalitems-<%=itemid%>" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-header-portfolio-<%=itemid%>">Modal Header</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body body-tag-in-portfolio-modal" >
        <p id="modal-body-portfolio-<%=itemid%>">body of portfolio</p>
      </div>

      <div style="text-align: center;"> Main Design technologies:
        <h5 id="modal-body-subtitle-<%=itemid%>" class="subtitle-inside-modal" >this is field for more tech used</h5>
      </div> 

      <div id="modal-image-portfolio-<%=itemid%>">image</div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>