<% @portfolio_items.each  do |item| %>
<div class="card"><br>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-4">
			<h3><%=link_to item.title, portfolio_path(item.id), class: "card-title" %> </h3> <!--this is for we have to make the link the title attribute of each portfolio item to show page-->
		</div>
		<div class="col-md-6"></div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-6">
			<h4><i><%= item.subtitle %></i></h4>
		</div>
		<div class="col-md-4"></div>
	</div>

	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-4"><h5> for more about this item click here:</h5></div>
		<div class="col-md-1">
			<button class="btn btn-primary btn-sm" id="show-<%=item.id%>" onClick="seeMore(<%= item.id%>)">show</button>
		</div>
		<div class="col-md-1">

		
		<div class="col-md-4"></div>
	</div>

	<div class="row">
		<div class="col-md-2 " id="" ></div>
		<div class="col-md-8">
			<p class="mydiv" id="item-body-<%=item.id%>"><%= item.body%>
				<button class="btn btn-primary btn-sm" id="hide-<%=item.id%>" onClick="seeLess(<%= item.id%>)">hide</button>

			</p>
		</div>

		<div class="col-md-2"></div>
	</div>


	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-6">
			<%= image_tag item.main_image.url, class: "card-img-top", style:alt="Card image cap"  %> 

		</div>
		<div class="col-md-4"></div>
	</div><br>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-1" >
			<%if can? :edit, Portfolio%>
			<%= link_to "Edit", edit_portfolio_path(item.id), class: "btn btn-secondary", style: "margin-left: 35px;" %>  <!--for edit each post -->
			<%end%>
		</div>
		<div class="col-md-1">
			<%if can? :delete, Portfolio%>
			<%= link_to 'Delete',"/portfolios/#{item.id}",method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-secondary", style: "margin-left: 2px;"%>
			<%end%>
		</div>
		<div class="col-md-8"></div>
	</div><br>
	<% end %>
	<% end %>
</div>
