
<%= render "formportfolionew", portfolio_items: @portfolio_items %>
<!-- here portfolio_items is data from controller and @portfolio_item is instance variable 
for the partial form, by this way we can send daa in partial forms  -->