
<div class="container">
	<div class="row" id="indexpage">
		<div class="col-md-1 " ></div>
		<div class="col-md-2" id="new-portfolio">
			<%#= link_to "Create new portfolio", new_portfolio_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'} %>  <!--at the top it will create the create new item tag -->			
         <%= render 'newPortfolioModal'%>
		</div>
		<div class="col-md-9"></div>
	</div>
       <%= render 'showitem'%>
</div>









