<div class="continer">
  <div class="card"><h1 style="text-align: center;" class="card-header"> New Portfolio item</h1>
   <%= render 'formportfolionew', portfolio_items: @portfolio_item %>
  <!-- partil form  -->
 </div>
</div>