 
 <%= image_tag  @portfolio_items.main_image.url(:large) %>
 <!--unless method is used to remove errors -->
 <h1><strong>
  <%= @portfolio_items.title %>
  </strong> </h1>
  <em><%= @portfolio_items.subtitle %> </em>
  <p>
  	<%= @portfolio_items.body %>
  </p>
  <h3> Technlogies Used:</h3>
  <% @portfolio_items.technlogies.each do |k| %>
    <h4><%= k.name %></h4>
  <% end %>
 <%= link_to 'Back', portfolios_path %><br><br>


