$('#modal-header-portfolio-<%=@portfolio_items.id%>').replaceWith('<h3 class= "portfolio-modal-title"><%=  @portfolio_items.title  %></h3>');
$('#modal-body-subtitle-<%=@portfolio_items.id%>').replaceWith('<h4 class="subtitle-inside-modal"><%=  @portfolio_items.subtitle  %></h4>');
$('#modal-body-portfolio-<%=@portfolio_items.id%>').replaceWith('<%=  @portfolio_items.body %>');
$('#modal-image-portfolio-<%=@portfolio_items.id%>').replaceWith('<%= image_tag @portfolio_items.main_image.url, :size => "700x500", :crop => :fill, :class => "image-tag-in-portfolio-modal" %>');
$('#myModalitems-<%=@portfolio_items.id %>').modal('show')