<div class="container design-forgot-password-page" style: align="center">

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="field form-group">
	    <%= f.label :email %><br /><br>
	    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded", placeholder:"enter you email here" %>
	  </div><br>

	  <div class="actions">
	    <%= f.submit "submit", class:"btn btn-success" %>
	  </div><br><br>
	<% end %>

	
</div>
