

<div class="container-fluid">
	<div class="row" >
		<div class="col-md-5"></div>
		<div class="col-md-6">
			<% if current_user.present?%>
			  <h1>Hi,<%= current_user.first_name%> </h1>
			<%else%>
			  <h1>Hi, Guest </h1>
			<%end%>
		</div>
		<div class="col-md-1"></div>
	</div>

	<div class="row" >
		<div class="col-md-2"></div>
		<div class="col-md-9">
			<h1 class="display-4 ">Welcome To Portfolio App Of.... </h1>
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-7">
			<h2><i>ASHOK POUDEL</i></h2>
		</div>
		<div class="col-md-3">
		</div>
	</div>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-8">
		<h5>For more about Ashok click AboutMe button below</h5>
	</div>
	<div class="col-md-1"></div>
</div>
<div class="row">
	<div class="col-md-5"></div>
	<!-- <button type="button" class="btn btn-secondary">AboutMe</button> -->
	<div class="col-md-6">
		<%= link_to "AboutMe", about_me_path, :class => "button btn btn-secondary btn-md" %>
	</div>
	<div class="col-md-1"></div>
</div>

</div>

