<!-- <h2>Log in</h2> -->
<div class="container sessions-login" style: align="center" >

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded",
     placeholder: "eg:ashok@gmail.com"%>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "rounded",
    placeholder: "Ener password here" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-success" %>
  </div><br>
  <h6>Don't have an account?</h6>
<% end %>

<%= render "devise/shared/links" %>

</div>
