@import "trix";
@import "bootstrap";
@import 'portfolios';
@import "comments";
@import "icons";
/*
*= require_tree .
*/

body{
	 background: url('backgroundimage2.jpeg');
	  -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-color: #cccccc;
      background-repeat: no-repeat;
      background-attachment: fixed;
      color: #8B0000;
}

.button-edit-blog{
  margin: 13px 12px 12px 10px !important
}


.button-show-blog{
	margin: 13px 12px 12px 10px !important
}

.sessions-login{
  background-color: black;
  width: 40%;
  height: 70%;
  border-radius: 25px;
  text-color: white;
}
.register-account{
  background-color: black;
  width: 40%;
  height: 90%;
  border-radius: 25px;
  text-align: center;
}

.style-error-devise{
  text-align: center;
  background-color: green;
  border: rounded;
}

.design-forgot-password-page{
  background-color: black;
  text-align: center;
  border: rounded;
    border-radius: 25px;
  width: 40%;
  height: 90%;
}


