// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-color: yellow;
	color: Black;

}


