
// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments-property{
    background-color: dark-white;
    width: 850px;
    height: 250px;
    overflow: scroll;
 }

 .comments-area{
   display: none;
 }

.fa-comment-alt{
	cursor: pointer;
}