/*
.icon-edit{
	transform-style: preserve-3d;
}

.icon-edit:after {
	top: -100%;
	left: 0px;
	width: 100%;
	position: absolute;
	background: #FA8072;
	border-radius: 10px;
	content: 'Edit';
	transform-origin: left bottom;
	transform: rotateX(90deg);
}

.icon-edit:hover {
	transform-origin: center bottom;
	transform: rotateX(-90deg) translateY(100%);
}

.icon-delete{
	transform-style: preserve-3d;
}

.icon-delete:after {
	top: -100%;
	left: 0px;
	width: 100%;
	position: absolute;
	background: red;
	border-radius: 10px;
	content: 'Delete';
	transform-origin: left bottom;
	transform: rotateX(90deg);
}

.icon-delete:hover {
	transform-origin: center bottom;
	transform: rotateX(-90deg) translateY(100%);
}

.icon-view{
	transform-style: preserve-3d;
}

.icon-view:after {
	top: -100%;
	left: 0px;
	width: 100%;
	position: absolute;
	background: green;
	border-radius: 10px;
	content: 'View';
	transform-origin: left bottom;
	transform: rotateX(90deg);
}

.icon-view:hover {
	transform-origin: center bottom;
	transform: rotateX(-90deg) translateY(100%);
}--this is the css code for 3d button
*/

.portfolio-index-image:hover{
	opacity: 0.5;
}