// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-color: black;
}

div{
	word-break: break-all;
	
}

.portfolio-body{
	margin-left: 112px;
}

.mydiv{ 
	display:none;
}

.portfolio-index-image{

	position: relative;
    width:  250px;
    height: 200px;
    float: center;
    background-repeat:   no-repeat;
    background-size:     cover;
    border-radius: 10px;
}

.image-tag-in-portfolio-modal{
	margin-left: 50px;
	margin-right: 50px;
	width: auto;
	height: auto;
	max-width: 800px;
    max-height: 600px;

}

.body-tag-in-portfolio-modal{
    margin-left: 40px;
	margin-right: 40px;
	max-width: 800px;
    max-height: 600px;

}

.portfolio-modal-title{
	
	text-align: center;
	margin: auto;
}

.subtitle-inside-modal{
	text-align: center;
	text-decoration: underline;
	color: orchid;
}

