<!DOCTYPE html>
<html>
<head>
  <title>Portfolio | My portfolio</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>
  <%= render partial: 'layouts/shared_by_all/navbar' %>
  <div class="container">
    <%#= login_helper %>  <!-- method to render data from application_helper  -->
    <% if flash[:notice] %>
    <p class="notice" style="background-color: green;" ><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
    <p class="alert" style="background-color: green;" ><%= flash[:alert] %></p>
    <% end %>
    <div class="row">
      <%= yield %>
    </div>   

    <p>
      <% if flash[:source] %> <!-- if session present then executes this line -->
      Thank you for visiting me from <%= flash[:source] %>
      <% end %>
    </p>
  </div>

</body>
</html>
