<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio | My portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>  
     <!--here application is changed to blogs to connect stylesheeth/blogs-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <%= render partial:  "layouts/shared_by_all/navbar" %>
    <%= login_helper %>
    
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>

    <p>
      <% if flash[:source] %> <!-- if session present then executes this line -->
        Thank you for visiting me from <%= flash[:source] %>
      <% end %>
    </p>
  </body>
</html>