<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio | My portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
 <%= render "layouts/shared_by_all/navbar" %>
    <!-- rendering method for the navbar -->
    <%# login_helper %>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>

    <p>
      <% if flash[:source] %> <!-- if session present then executes this line -->
        Thank you for visiting me from <%= flash[:source] %>
      <% end %>
    </p>
  </body>
</html>